.header{
    margin-top: 3.5rem;
    text-align: center;
}

.amount-cards{
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    gap: 10rem;
}

.card{
    border-radius: 10px;
    padding: 1rem 2rem;
    color: white;
    font-weight: 500;
    cursor: pointer;
}

.incomeCard{
    background-color: #009150;

&:hover{
    background-color: #18453b;
}
}

.expenseCard{
    background-color: #e60026;

&:hover{
    background-color: #8b0000;
}
}

.balanceCard{
    background-color: #4169e1;

&:hover{
    background-color: #002366;
}
}